/** elements **/

div {
    margin: 1%;
}

h1 {
    margin: 1%;
}

h3 {
    margin: 1%;
}

hr {
    margin: 1%;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

th {
    text-align: left;
}

td {
    width: 50%;
}

/** classes **/

.resume-header {
    text-align: center;
    margin-top: 5%;
}

.education-table {
    font-weight: normal;
}

.right-align {
    width: 50%;
    text-align: right;
}
